@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  background: url("/assets/starry-night-sky.jpg") repeat;
  background-size: cover;
}

/* HEADER */
header {
  max-width: 100%;
  height: 100vw;
  position: absolute;

  top: 0;
}

nav {
  display: flex;
  margin: 20px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-radius: 10px;
  background-color: white;
}

.header-logo img {
  width: 135px;
  display: flex;
  padding: 10px 0;
  margin-left: 40px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0 40px;
}

header nav ul li {
  margin: 0 30px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
}

header nav ul li:hover {
  cursor: pointer;
}

/* cards personagens */

.personagens-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  position: absolute;
  top: 200px;
}

.card-personagem img {
  width: 220px;

  border-radius: 15px;
  margin: 10px auto;
  display: flex;
}
.card-personagem:first-child {
  display: none;
}

.card-personagem {
  background-color: #f6f6f6;
  border-radius: 16px;
  height: 400px;
  margin: 20px;
  width: 400px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.card-info {
  margin-top: 20px;
  text-align: center;
}

.card-info strong {
  font-size: 21px;
}
.card-info p {
  font-size: 18px;
  margin-top: 5px;
}

/* responsividade */

/* landscape */
@media (max-width: 1139px) {
  .header-nav {
    display: flex;
    max-width: 100%;
  }

  .header-nav ul li {
    margin: 0 5px;

    font-size: 20px;
  }

  .header-logo img {
    width: 90px;
  }

  /* cards personagens */

  .personagens-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 98%;
    padding-left: 20px;
    top: 130px;
  }

  .card-personagem img {
    width: 150px;
  }

  .card-personagem {
    height: 400px;
    width: 250px;
    margin: 10px;
  }

  .card-info {
    margin-top: 20px;
    text-align: center;
  }

  .card-info strong {
    font-size: 16px;
  }
  .card-info p {
    font-size: 16px;
  }

  .card-info h3 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  /* HEADER */

  body {
    background: url("/assets/starry-night-sky.jpg") repeat;
    background-size: cover;
  }

  nav {
    margin: 5px 0;
  }

  .header-nav {
    display: flex;
    max-width: 98%;

    margin: 5px auto;

    border-radius: 6px;
  }

  .header-nav ul {
    margin-left: -5px;
  }

  .header-nav ul li {
    margin: 0 5px;
    padding: 0;
    font-size: 14px;
  }

  .header-logo img {
    width: 75px;

    margin-left: 2px;
  }

  /* cards personagens */

  .personagens-container {
    grid-template-columns: 1fr;
    top: 120px;
  }

  .card-personagem img {
    width: 160px;

    margin: 10px auto;
  }

  .card-personagem {
    background-color: #f6f6f6;
    border-radius: 16px;
    height: 310px;

    width: 300px;

    margin: 20px auto;
  }

  .card-info strong {
    font-size: 13px;
  }
  .card-info p {
    font-size: 13px;
    margin: 5px;
  }

  .card-info h3 {
    font-size: 20px;
    margin-top: -10px;
  }
}
